*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    font-family:'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
    background: linear-gradient(50deg,blue,black);
}


.container{
    border: 2px solid grey;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px  grey;

}
input{
    width: 100%;
    border: none;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 30px;
    text-align: right;
    color: white;
    background: transparent;
    cursor: pointer;
}
input::placeholder{
    font-size: 50px;
}
button{

    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    font-size: 20px;
    margin-left: 25px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 5px 5px grey;

}
.equal-btn{
    background-color:#fb7c14;
}
.operator{
    background-color: rgba(0, 0, 0, 0.623);
    color: grey;
}
